# Secrets - NUNCA commitar
*.real.yaml
*-secret.yaml
!*-sealed-secret.yaml
secrets/
*.sops.yaml
ansible/secrets.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
*.tfvars.json
*.zip

# K8s
*.kubeconfig

# IDE
.idea/
.vscode/
*.swp